@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
  position: relative;
  @apply bg-blue-7;
  color: white;
  height: 100vh;
}

#root {
    height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.beaufortforLOL {
  font-family: "BeaufortforLOL Bold" !important;
}

@font-face {
  font-family: "BeaufortforLOL Bold";
  src: url("./font/beaufort-for-lol/BeaufortforLOL-Bold.eot"); /* IE9*/
  src:
    url("./font/beaufort-for-lol/BeaufortforLOL-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./font/beaufort-for-lol/BeaufortforLOL-Bold.woff2") format("woff2"),
    /* chrome、firefox */ url("./font/beaufort-for-lol/BeaufortforLOL-Bold.woff") format("woff"),
    /* chrome、firefox */ url("./font/beaufort-for-lol/BeaufortforLOL-Bold.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("./font/beaufort-for-lol/BeaufortforLOL-Bold.svg#BeaufortforLOL Bold") format("svg"); /* iOS 4.1- */
}
